body{
  font-family: arial;
  font-size: 14px;
}
#principal{
  width: 1200px;
  margin: auto;
  border: 1px solid #aac;
}
#cabecalho, #conteudo, #rodape, #nav, #aside {padding: 10px;}
#cabecalho, #rodape{
  background-color: #aac;
}
#cabecalho{
    border-bottom: 1px solid #aac;

}
#rodape{
    border-top: 1px solid #aac;
    clear: both;
    text-align: center;
}
#conteudo{
  float: left;
  width: 700px;
  border-left: 1px solid #aac;
  border-right: 1px solid #aac;
}
#nav{
  float: left;
  width: 200px;
  text-align: left;
}
#aside{
  float: left;
  width: 237px;
  text-align: right;
}
#parteUm{
  border : 1px solid #aac;
  padding: 10px;
}

#novo_post{
  padding: 10px;
}

#titulo_novo_post{
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 510px;
}
